@font-face {
    font-family: "This Cafe";
    src: url("src/font/This Cafe.otf");
}

@font-face {
    font-family: "Classica Bold";
    src: url("src/font/Classica-Bold.ttf");
    
}

@font-face {
    font-family: "Inter";
    src: url("src/font/Inter-VariableFont_slnt,wght.ttf");
    
}

@font-face {
    font-family: "Arcade";
    src: url("src/font/ARCADE_I.TTF");
    
}

body {
    background-color: black;
    color: white;
}

.main {
    font-family: 'Arcade';
    padding: 6px;
}

.emphasis {
    color: #ff5050;
}

.navbar li {
    display: inline;
    font-family: 'Arcade';
    border: 3px white dotted;
    padding: 6px;
    color: white;
    text-align: left;
    margin: 5px;
}

a:visited {
    color: white;
    text-decoration: none;
}

img {
    border: 3px dotted white;
}

@media screen and (max-width: 580px) {
    .navbar {
      float: left;
      align-items: left;
    }
    .navbar li {
      float: none;
      display: block;
      text-align: left;
      margin: 10px;
    }
  }